body {
      font-family: Arial, sans-serif;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.section {
  margin-bottom: 20px;
}
.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.post-item, .transaction-item {
  margin-bottom: 10px;
}
.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #0056b3;
}
.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-item-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.add-item-container textarea {
  width: 95%;
  min-height: 3em;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #0056b3;
}
.create-account-link {
  text-align: center;
  margin-top: 20px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.item-card {
  border: 1px solid #ccc;
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.item-image.loaded {
  width: auto;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);    
  
}

.item-card h3 {
  text-align: center;
}

.item-name-card {
  border: 1px solid #ccc;
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;

}

.image-container {
   width: 100%;
   min-height: 200px;
   max-height: 95%;
   overflow: hidden;
   position: relative;
}

.search-container {
  text-align: center;
  margin: 20px 0;
}

.search-container input[type="text"] {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

.search-container select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}


.content {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.filter-sidebar {
  width: 200px;
  margin-right: 20px;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.main-content {
  flex-grow: 1;
}

.search-bar {
  margin-bottom: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.item-card {
  border: 1px solid #ccc;
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.item-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.filter-sidebar form,
.main-content .search-bar form {
  display: flex;
  flex-direction: column;
}

.filter-sidebar input[type="number"],
.main-content .search-bar input[type="text"],
.filter-sidebar select,
.main-content .search-bar button {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-sidebar button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-sidebar button:hover {
  background-color: #0056b3;
}

