<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<div class="menu-bar">
    <a href="/index/">Home</a>
    <a href="/my_account/">My Account</a>
</div>

<div class="add-item-container">
<h3>{{ item.name }}</h3>
<p>{{ item.description }}</p>
<p>${{ item.asking_price }}</p>
<div class="image-container">
  <img class="item-image" src="{{ url_for('static', filename='uploads/' + item.image_path) }}" alt="Item Image">
</div>
<p>Contact: {{ item.contact_method }}</p>
<body>
  <a href="/submit_item_bid/" class="button">Bid on Item</a>
</body>
</div>

