<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Items Grid</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="menu-bar">
    <a href="/my_account/">My Account</a>
  </div>
  <h2>Items for sale</h2>
  <div class="grid-container">
    {% for item in items %}
    <a href="/item/{{ item.item_id }}" class="item-card">
      <h3>{{ item.name }}</h3>
      <p>Description: {{ item.description[:100] }}{% if item.description|length > 100 %}...{% endif %}</p>
     <div class="image-container">
       <img class="item-image" src="{{ url_for('static', filename='uploads/' + item.image_path) }}" alt="Item Image" onerror="this.style.display='none';">
     </div>
      <p>Price: ${{ item.asking_price }} </p>
      <p>Negotiable: {{ item.Negotiable }} </p>
    </a>
    {% endfor %}
  </div>
</body>
</html>

