<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Account</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<div class="menu-bar">
    <a href="/index/">Home</a>
</div>

<body>
  <div class="container">
    <h2>Welcome, {{ username }}</h2>

    <div class="section">
      <div class="section-title">My Posts</div>
      <ul>
        {% for post in user_posts %}
        <li class="post-item">{{ post }}</li>
        {% endfor %}
      </ul>
      <form action="/post/" method="GET">
        <button class="button" type="submit">Add Item</button>
      </form>
    </div>

    <div class="section">
      <div class="section-title">My Transactions</div>
      <ul>
        <!-- Updated section to display transaction details -->
        {% for transaction in transactions %}
        <li class="transaction-item">
          <strong>Item:</strong> {{ transaction.item_name }}<br>
          <strong>Offer Price:</strong> {{ transaction.price }}<br>
          <strong>Comments:</strong> {{ transaction.messages }}<br>
          <strong>Date Requested:</strong> {{ transaction.date_time_requested }}
        </li>
        {% else %}
        <li>No transactions found.</li>
        {% endfor %}
      </ul>
    </div>
    <form action="/logout/" method="get">
      <button type="submit">Sign Out</button>
    </form>

    </div>
</body>
</html>
